.accordion-item {
  margin-bottom: 1rem;
}

.accordion-header {
  cursor: pointer;
  background-color: #f4f4f4;
  padding: 0.5rem;
}

.accordion-content {
  display: none;
  background-color: #ffffff;
  padding: 0.5rem;
}

.accordion-item.open .accordion-content {
  display: block;
}
